.dsgvo-banner {
    position: fixed;
    bottom: 0;
    z-index: 99;
    padding: 1em;
    padding-right: 2em;
    background-color: #7099bf;
}

.dsgvo-close-banner {
    cursor: pointer;
    position: absolute;
    margin: 0;
    top: 0.3em;
    right: .6em;
    transition: opacity .1s ease;
    font-size: 18px;
    font-weight: 100;
    line-height: 1;
}

.dsgvo-close-banner:hover {
    text-decoration: none;
}

#form-widgets-dsgvo_contact_info_text input,
#form-widgets-dsgvo_contact_info_text .required,
#formfield-form-widgets-dsgvo_accept label.horizontal,
#formfield-form-widgets-dsgvo_contact_info_text label.horizontal {
    display: none;
}
